In [11]:
# 3진수로 변환 
tmp = ['0', '1', '2']
def tri(n, b):
  x, y  = divmod(n, b)
  if x == 0:
    return tmp[y]
  else:
    return tri(x, b) + tmp[y] 

# 45, 3 = (15, 0), (5, 0), (1, 2), (0, 1) -> 1200

print(tri(45, 3))
print(tri(125, 3))

1200
11122

In [82]:
# Frist Try
def tri(n, b):
  reverse = []
  while n > 0:
    n, x = divmod(n, b) # Tuple로 값, 나머지 반환 
    reverse.append(x)
  return ''.join(map(str, reverse))

def solution(n):
  answer = tri(n, 3)
  return int(answer, 3)

print(solution(45))
print(solution(125))

7
229

In [87]:
# Second Try
def tri(n, b):
  reverse = []
  while n:
    reverse.append(n%b)
    n = n//3
  return int(''.join(map(str, reverse)), 3)

print(tri(45, 3))

7

In [90]:
# Third Try 
def tri(n, b):
  reverse = ''
  while n:
    reverse += str(n%b)
    n = n//3 
  return int(reverse, 3)

print(tri(125, 3))

229