x만큼 간격이 있는 n개의 숫자
(프로그래머스 Level1)

In [9]:
# First Try

def number(x, n):
  answer = []
  answer.append(x) 
  for i in range(n-1):
    x = answer[i] + answer[0]
    answer.append(x)
  return answer

print(number(2, 5))
print(number(4, 3))
print(number(-4, 2))
print(number(1, 5))

[2, 4, 6, 8, 10]
[4, 8, 12]
[-4, -8]
[1, 2, 3, 4, 5]

In [11]:
# Second Try
def number(x, n):
  answer = []
  for i in range(1, n+1):
    answer.append(x*i)
  return answer

print(number(2, 5))
print(number(4, 3))
print(number(-4, 2))
print(number(1, 5))

[2, 4, 6, 8, 10]
[4, 8, 12]
[-4, -8]
[1, 2, 3, 4, 5]

In [10]:
# Third Try
def number(x, n):
  return [x*(i+1) for i in range(n)]

print(number(2, 5))
print(number(4, 3))
print(number(-4, 2))
print(number(1, 5))

[2, 4, 6, 8, 10]
[4, 8, 12]
[-4, -8]
[1, 2, 3, 4, 5]