자연수 뒤집어서 배열 만들기
(프로그래머스 Level 1)

In [2]:
# First Try

def makearray(n):
  num = str(n)[::-1] # integer to string, reverse the string
  num_list = [] # make a new array 
  for n in num:
    num_list.append(int(n)) # append n as an element of array num_list
  return num_list

print(makearray(12345))

[5, 4, 3, 2, 1]

In [3]:
# Second Try

def makearray(n):
  num = str(n)[::-1]
  num_list = [int(n) for n in num]
  return num_list 

print(makearray(12345))

[5, 4, 3, 2, 1]

In [4]:
# Third Try

def makearray(n):
  return [int(num) for num in str(n)[::-1]]

print(makearray(12345))

[5, 4, 3, 2, 1]