영화감독 숌 - 부르트 포스

숌은 첫 번째 영화의 제목은 세상의 종말 666, 두 번째 영화의 제목은 세상의 종말 1666 이렇게 이름을 지을 것이다. 
* 일반화해서 생각하면, N번째 영화의 제목은 세상의 종말 (N번째로 작은 종말의 숫자) 와 같다.

In [9]:
n = int(input())
cnt = 0 
movie = 666
while True: 
  if '666' in str(movie): #if '666' in movie
    cnt += 1 # count = count + 1
  if cnt == n: 
    print(movie) 
    break
  movie += 1

6
5666

In [15]:
n = int(input())
movie = 1 
while True: 
  movie += 1
  if '666' in str(movie):
    n -= 1
  if n == 0:
    print(movie)
    break

5
4666

In [17]:
n = int(input())
movie = 666 # 666 = first title 
while True: 
  movie += 1 
  if '666' in str(movie):
    n -= 1
    if n == 1: # started with '666'
      print(movie)
      break

187
66666

In [8]:
# Test Case 2
n = 2
cnt = 0
movie = 666
while True:
  if '666' in str(movie):
    cnt += 1
  if cnt == n:
    print(movie)
    break
  movie += 1

1666

In [7]:
# Test Case 3
n = 500
cnt = 0
movie = 666
while True: 
  if '666' in str(movie):
    cnt += 1
  if cnt == n:
    print(movie)
    break
  movie += 1

666