OX퀴즈
* O일 경우 1점을 추가
* O가 연속될 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수
* ex) 'OOXXO' = 1 + 2 + 0 + 0 + 1

In [6]:
case = int(input())
for c in range(case):
  test = str(input())
  score = 0
  count = 0
  for t in test:
    if t == 'O':
      count += 1
      score += (1*count)
    elif t == 'X':
      count = 0
  print(score)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

In [1]:
# Test Case 1 
# Expected answer: 10

s1 = 'OOXXOXXOOO'
score = 0
count = 0
for i in s1:
  if i == 'O':
    count += 1
    score += (1 * count)
  elif i == 'X':
    count = 0
print(score)

10

In [2]:
# Test Case 2
# Expected answer: 9
s2 = 'OOXXOOXXOO'
score = 0
count = 0
for i in s2:
  if i == 'O':
    count += 1
    score += (1 * count)
  elif i == 'X':
    count = 0
print(score)

9

In [3]:
# Test Case 3
# Expected answer: 7
s3 = 'OXOXOXOXOXOXOX'
s1 = 'OOXXOXXOOO'
score = 0
count = 0
for i in s3:
  if i == 'O':
    count += 1
    score += (1 * count)
  elif i == 'X':
    count = 0
print(score)

7

In [4]:
# Test Case 4
# Expected answer: 55
s4 = 'OOOOOOOOOO'
s1 = 'OOXXOXXOOO'
score = 0
count = 0
for i in s4:
  if i == 'O':
    count += 1
    score += (1 * count)
  elif i == 'X':
    count = 0
print(score)

55

In [5]:
# Test Case 5
# Expected answer: 30
s5 = 'OOOOXOOOOXOOOOX'
score = 0
count = 0
for i in s5:
  if i == 'O':
    count += 1
    score += (1 * count)
  elif i == 'X':
    count = 0
print(score)

30